
<div classname="navBar">
    <h1>Speak your mind</h1>
    <form action="/logout" method="post">
        <button type="submit">Sign Out</button>
    </form>
    <div>
        <a href="addBlogPost">Add a blog Post</a>
    </div>
</div>



