.navBar{
    display: flex;
    flex-direction: row;
}

.blog-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.blog-card h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

.blog-card p {
    margin: 0;
}

.blog-card form {
    margin-top: 10px;
}
