<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../client/css/styles.css">
</head>
<body>
<div classname="navBar">
    <h1>Speak your mind</h1>
    <form action="/logout" method="post">
        <button type="submit">Sign Out</button>
    </form>
</div>

<div>
        <a href="addBlogPost">Add a blog Post</a>
</div>

<h2>Welcome: <%= firstname%></h2>



</body>
</html>