<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login</h1>

<form action="/login" method="post">
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" value=""><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" value=""><br><br>
    <input type="submit" value="Submit">

    <% if (message) { %>
        <div>
            <p><b>Message:</b>  <%= message%></p>
        </div>
    <% } %>
    <% if (errors) { %>
        <div>
            <%= errors%>
        </div>
    <% } %>

</form>

</body>
</html>