<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sign Up</h1>


<form action="/SignUp" method="post">
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email" value=""><br><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" value=""><br><br>
    <% if (errors) { %>
    <div>
        <ul>
            <% for (var i = 0; i < errors.length; i++) { %>
                <li><%= errors[i].msg %></li>
            <% } %>
        </ul>
    </div>
    <% } %>
    <input type="submit" value="Submit">


</form>

</body>
</html>